:root {
    --heading1: 96px;
    --heading2: 64px;
    --p-heading: 32px;
    --p: 24px;
    --link: 24px;
    --p-p: 16px;
    --primary: #F7A300;
    --secondary: #F0F6F6;
    --third: #507575;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

ul a {
    font-size: var(--link);
}

button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Judson;
}

h1 {
    font-size: calc(var(--heading1) / 2);
    font-weight: 600;
}

h2 {
    font-size: calc(var(--heading2) / 2);
}

h4 {
    font-size: calc(var(--p-heading) / 1.7);
}

p {
    font-size: calc(var(--p) / 1.3);
    line-height: 25px;
}

.p-p {
    font-size: var(--p-p);
}

.container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.mt {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 4rem;
}

#logo {
    width: 32px;
}

#link-div {
    display: none;
}

#bg-div {
    background-image: url(../assets/bg.png);
    background-position: 60% 0;
    background-size: 300%;
    background-repeat: no-repeat;
}

.flex {
    display: flex;
}

.highlight {
    color: var(--primary);
}

.div-padding {
    padding: 3rem 0;
}

#proof-div {
    margin-top: 3rem;
    text-align: center;
    gap: 1.5rem;
}

#menu-div {
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
}

#menu-div img {
    width: 100%;
}